<h2>Sign up</h2>
<br/>
<h4>How It Works:</h4>
<p>You can list books you have to sell, and search by key word, title, author, or ISBN for books you want to buy.<p>If selling online, you do not need to bring the book in to the Co-op - if a buyer expresses interest, we will send you an automated email at the address you signed up with, with the buyer’s contact details. You can then contact the buyer and arrange between you how to collect the book and payment. Prices may be negotiated between buyer and seller if you wish. UMSU Book Co-op takes no commission.</p>
<br/>
<p>You can specify how you want sellers to contact you when you're interested in buying a book.</p>
<ul>
  <li> To show sellers the same email address you use to sell, please tick Direct email</li>
  <li>Alternatively, please give the contact you want sellers to see (email, phone or both) in the Contact details box</li>
</ul>
<br/><p>Sellers are welcome to list the same book for sale on other sites.</p>
<p>If you sell your book or dispose of it within 6 months, it is your responsibility to delete it from the catalogue. We will send a reminder 5 months from the date listed asking you to either delete or extend your listing. Note the seller and not the Co-op is responsible for any disappointment arising from outdated listings.</p>
<br/>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.input :direct_email %>
    <%= f.input :contact_details %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Sign up' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
