<h2>Add Book</h2>
<%= simple_form_for Book.new, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, as: :string %>
  <%= f.input :author, as: :string %>
  <%= f.input :publisher, as: :string %>
  <%= f.input :edition, as: :string %>
  <%= f.input :category, as: :string %>
  <%= f.input :subject, as: :string %>
  <%= f.input :condition, as: :string %>
  <%= f.input :isbn %> <span id='lookup-isbn' class='btn btn-info' style='display: none;'>Look Up</span> <span id='not-found' style='display: none;'>Not Found</span>
  <%= f.input :price, as: :currency %>
  <%= f.input :price_negotiable %>
  <%= f.input :consignment_date, as: :datepicker %>
  <%= f.input :consignee, as: :string %>
  <%= f.input :in_shop if current_user.admin? %>
  <%= f.input :thumbnail, as: :string %>
  <%= image_tag '/', id: 'thumbnail', style: 'display:none' %>
  <%= f.input :description, as: :text %>

  <% if can? :create, Book %>
    <%
       params = {class: 'btn-primary'}
       params.merge!(confirm: 'By clicking OK, I, the seller, agree that this book is for sale under the following conditions:
       1. My price is not greater than 75% of the current recommended retail price and is subject to arbitrary reduction by the UMSU Book Co-operative or its agents if found to be greater
       2. I accept responsibility for arranging for payment and collection of the book directly with the buyer and will delete my listing from the Co-operative catalogue if the book is sold or disposed of
       3. If this book is unsold 6 months from the date listed then it will be deleted from the Co-operative’s online catalogue
       4. The Co-operative is not responsible for any misunderstanding, loss or damage that may arise between me and the buyer
       5. Under all circumstances the Co-operative and its agents are completely absolved from any liability to me for the loss, damage or theft of this book') unless current_user.admin?
    %>
    <%= f.button :submit, params %>
  <% end %>
<% end %>

