<h2>Search Books</h2>
<%= simple_form_for @book, url: search_books_path, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :title, as: :string %>
  <%= f.input :author, as: :string %>
  <%= f.input :publisher, as: :string %>
  <%= f.input :edition, as: :string %>
  <%= f.input :category, as: :string %>
  <%= f.input :subject, as: :string %>
  <%= f.input :isbn %>
  <%= f.button :submit, value: 'Search Books', class: 'btn-primary' %>
<% end %>
